docker {
    enabled = true
    runOptions = '-v /workspace/BIOF_501_Final_Project/1.Model/:/app/' 
}

process {
    executor = 'local'  // Use local execution
    container = 'mednist_training:latest'  // Default container for all processes
    cpus = 8
    memory = '32 GB'
    time = '5h'
    containerOptions = '--shm-size=16g'
}

params {
    inputDir = './data/MedNIST'
    preprocessedDir = './data/preprocessed'
    trainResultsDir = './results/train'
    modelPath = './models/best_metric_model.pth'
    testResultsDir = './results/test'
}


