docker {
    enabled = true
    runOptions = '-v /workspace/BIOF_501_Final_Project/2.Inference/:/app/' 
}

process {
    executor = 'local'  // Use local execution
    container = 'mednist_inference:latest'  // Default container for all processes
    cpus = 8
    memory = '32 GB'
    time = '5h'
    containerOptions = '--shm-size=16g'
}
